body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f9fa;
    color: #333;
  }
  
  h1 {
    text-align: center;
    color: #6404ff;
  }
  
  .days {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .days button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #6404ff;
    color: white;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 20px;
  }
  
  .days button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
  }
  
  .schedule {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .schedule h2 {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
  }
  
  .class-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: transform 0.2s, background-color 0.3s;
  }
  
  .class-item:hover {
    background-color: #e9ecef;
    transform: translateY(-2px);
  }
  
  .class-item span {
    font-size: 14px;
    color: #333;
  }
  
  .class-item span:first-child {
    font-weight: bold;
    color: #007BFF;
  }
  
  p {
    text-align: center;
    color: #888;
  }
  